#drug-List{
    width: 1190px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    .drug1{
        margin: 5px 0 15px 0;
        width: 100%;
        height: 485px;
        display: flex;
        border-top: 2px solid rgb(236, 199, 130);
        border-left: 1px solid rgb(221, 219, 219);
        border-right: 1px solid rgb(221, 219, 219);
        .drug1-list{
            .listHeader{
                background-color: #7EC6FF;
                width: 180px;
                height: 85px;
                font-size: 20px;
                text-align: center;
                line-height: 85px;
            }
            ul{
               
                width: 180px;
                display: flex;
                flex-wrap: wrap;
                li{
                    width: 89px;
                    height: 49px;
                    line-height: 50px;
                    text-align: center;
                    border-bottom: 1px solid rgb(221, 219, 219);
                    border-right: 1px solid rgb(221, 219, 219);
                    a{
                        &:hover{
                            color: red;
                        }
                    }
                }
            }
        }

        .drug1-detail{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .detail-L{
                width: 605px;
                height: 284px;
                img{
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                }
            }
            .detail-R{
                cursor: pointer;
                width: 404px;
                height: 284px;
                display: flex;
                img{
                    width: 50%;
                    height: 100%;
                }
            }
            .detail-B{
                display: flex;
                justify-content: space-between;
                dl{
                
                width: 161px;
                height: 170px;
                padding: 20px 20px 10px;
                text-align: center;
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid rgb(221, 219, 219);
                border-right: 1px solid rgb(221, 219, 219);
                dt{
                    display:flex ;
                    justify-content: center;
                    align-items: center;
                 
                    
                }
                dd{
                    p{
                        margin: 15px 0 15px;
                    }
                }
            }
            
            .clearR{
                border-right:none;
            }

            }

        }
    }
}