#headerNav-wrap{
    width: 100%;
    border-bottom: 2px solid orange;;
    #headerNav{
        width: 1190px;
        height: 48px;
        display: flex;
        justify-content: start;
        margin: 0 auto;
        
        .allsort{
            position: relative;
            width: 166px;
            height: 48px;
            padding-left: 14px;
            background-color: #0B333A;
            .all{
                display: block;
                line-height: 48px;
                color:white;
               
            }
            ul{
                position: absolute;
                left: 0;
                height: 404px;
                margin-top: -2px;
                z-index: 99;
                background-color: #2A4449; 
                li{     
                    // position: relative;    
                    .title{
                        width: 166px;
                        padding-left: 14px;
                        display: block;
                        height: 46px;
                        line-height: 46px;                  
                        color: white;
                        font-size: 14px;
                        i{
                            font-size: 24px ;
                            padding: 0 10px;

                        }
                    }

                    .sortList{
                        // display: flex;
                        width: 1009px;
                        display: none;
                         background-color:white;
                        position: absolute;
                        height: 402px;
                        top:3px;
                        left: 180px;
                        z-index: 999;
                        .mode-bg{
                            display: flex;
                            flex-direction: column;
                            float: left;
                        }
                        
                        dl{
                            margin-top: 10px;
                           dt{
                               font-weight: bold;
                               padding-left: 20px;
                               font-size: 14px;
                               margin-bottom: 5px;
                           }
                            dd{
                             
                                width: 252px;
                                a{
                                    &:hover{
                                        color: red;
                                    }
                                    // border-left: 1px solid grey;
                                    float: left;
                                    display: inline-block;
                                    padding: 0 20px;
                                    margin: 5px 0;
                                    height: 12px;
                                    padding-left: 20px;
                                    font-size: 12px;
                                    // border-left: 2px solid red;
                                    // border-left: 1px solid red;
                                }
                            }
                        }
                        .mode-bgads{
                            float: left;
                            width: 252px;
                            background-color: black;
                        }
                    }
                }
            }
        }
        .sitenav{
            height: 46px;
            display: flex;
            justify-content: start;
            align-items: center;
            a{
                padding: 0 16px 0 16px;
            }
        }
    }

}

