@import './header';
@import './search';
@import './rightBar';
@import './headerNav';
#headerNav{
    .allsort{
        ul{
            display: none;
        }
        .all{
            display: flex;
            // justify-content: space-between;
            // align-items: center;
            span{
                align-self: center;
                margin-bottom: -4px;
                margin-left: 16px;
                display: inline-block;
                width: 20px;;
                height: 20px;
                background: url('../img/common_sprite.png') no-repeat right 9px;
            }
        }
    }
}
#drug-details{
    width: 1190px;
    margin: 0 auto;
    
  .details-wrap{
      display: flex;
      margin: 30px 0;
      .pic-show{
          display: flex;
          flex-direction: column;
          dt{
              position: relative;
              .smallpic{
                  width: 298px;
                  height: 298px;
                  border: 1px solid rgb(117, 106, 106);
                //   cursor: crosshair;
                 
                  img{
                      width: 100%;
                      height: 100%;
                  }
              }
              .scalepic{
                  position: absolute;
                  left: 300px;
                  border: 1px solid rgb(229, 179, 179);
                  top: 0;
                   width:300px ;
                   height: 300px;
                   overflow: hidden;
                   display:none;
                //    background-color: rgb(182, 174, 175);
                //    z-index:99;
              }
              .smallM{
                  position: absolute;
                  top:0;
                  left: 0;
                  background-color: rgb(99, 50, 50);
                  width: 150px;
                  height: 150px;
                  opacity: .3;
              }
          }

          dd{
             display: flex;
             span{
                cursor: pointer;
                height: 50px;
                margin: 1px;
                line-height: 50px;
                font-size: 20px;
                margin-top: 10px;
                border:1px solid rgb(173, 164, 164);
            }
         
             .minpics{
                width: 241px;
                overflow: hidden;
                position: relative;
             }
           
              ul{
                  position: absolute;
                  left: 0;
                  
                  width: 300px;
                  overflow: hidden;
                  margin-top: 10px;
                  border:1px solid rgb(206, 198, 198);
                  display: flex;
                  overflow: hidden;
                  li{
                      width: 46px;
                      height: 49px;
                      border: 1px solid transparent;
                      &:hover{
                        border: 1px solid red;
                      }
                      img{
                          width:100% ;
                          height: 100%;
                      }
                  }
              }
          }
      }
      .details-info{
          margin-left: 40px;
          dt{
            h4{
                padding: 15px 0;
  
            }
          }
          dd{
              margin-top: 40px;
              display:flex;
              flex-direction: column;
              .count{
                  display: flex;
                label{
                    font-size: 12px;
                    height: 40px;
                    line-height: 40px;
                   
                }
                input{
                    padding: 15px 10px;
                    width: 82px;
                    margin-left: 10px;
                    border: 1px solid rgb(194, 188, 188);
                }
                .operator{
                    display: flex;
                    flex-direction: column;
                }
                .minus{
                    display: block;
                    background: url("../img/icon_detail.png") no-repeat -2px -1345px;
                    cursor: pointer;
                    width: 20px;
                    height: 22px;
                    border: 1px solid rgb(172, 166, 166);
                    // border: none;
                    margin:1px;
                }
                .add{
                    display: block;
                    width: 20px;
                    height: 22px;
                    border: 1px solid rgb(172, 166, 166);
                    background: url("../img/icon_detail.png") no-repeat  -2px -1371px;
                    cursor: pointer;
                    margin:1px;
                    // border: none;
                }

              }

              .cart{
                  margin-top: 40px;
                  background-color: red;
                  height: 80px;
                  display: flex;
                  align-items: center;
                 
                  span{
                      display: inline-block;
                      height: 80px;
                      width: 80px;
                      background: url("../img/icon_detail.png") no-repeat 28px -744px;
                      cursor: pointer;
                      
                  }
                  input{
                      padding: 20px 10px;
                      font-size: 30px;
                      color:white;
                      border: none;
                      background-color: red;
                      cursor: pointer;
                      
                  }
              }
            
          }
          
      }
  }
}
@import './pagefooter';