@charset "UTF-8";
#header {
  width: 100%;
  height: 36px;
  background-color: #F1F1F1;
  font-size: 12px;
}
#header .header-wrap {
  width: 1190px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  /*------ 左侧menu begin-------*/
  /*------ 左侧menu begin-------*/
  /*-------- 右侧的menu  begin------------*/
}
#header .header-wrap .header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /*------顶部左侧 li ------*/
}
#header .header-wrap .header-left span {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 5px;
}
#header .header-wrap .header-left .header_collect {
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  border-right: 1px solid #9e9a9a;
}
#header .header-wrap .header-left .header_collect span {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("../img/common_sprite.png") no-repeat right -65px;
}
#header .header-wrap .header-left .header_target {
  position: relative;
  line-height: 36px;
  height: 36px;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 10px;
}
#header .header-wrap .header-left .header_target:hover {
  background-color: white;
  overflow: visible;
}
#header .header-wrap .header-left .header_target:hover ul {
  display: block;
  margin-top: -1px;
  z-index: 99;
}
#header .header-wrap .header-left .header_target:hover .city .city-arrow {
  background: url("../img/common_sprite.png") no-repeat right -18px;
}
#header .header-wrap .header-left .header_target .city {
  z-index: 555;
  height: 36px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#header .header-wrap .header-left .header_target .city .city-arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: red;
  background: url("../img/common_sprite.png") no-repeat right 8px;
}
#header .header-wrap .header-left .header_target ul {
  position: absolute;
  width: 200px;
  top: 36px;
  background-color: white;
  display: none;
  border: 1px solid #e6dfdf;
}
#header .header-wrap .header-left .header_target ul li {
  line-height: 28px;
  padding-left: 10px;
}
#header .header-wrap .header-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  /*-------- 右侧的menu  end------------*/
}
#header .header-wrap .header-right em {
  color: #9e9a9a;
}
#header .header-wrap .header-right li {
  display: flex;
  align-items: center;
  height: 36px;
  line-height: 36px;
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
}
#header .header-wrap .header-right li .h-light {
  color: #c7a774;
  font-weight: 700;
  font-family: Tahoma;
}
#header .header-wrap .header-right li a {
  display: block;
  line-height: 36px;
  height: 36px;
  font-size: 12px;
}
#header .header-wrap .header-right li .active {
  color: red;
  padding-top: 0;
  padding-right: 5px;
  padding-bottom: 0;
  padding-left: 5px;
}
#header .header-wrap .header-right li a:not(.active):hover {
  color: #3c3cc9;
}
#header .header-wrap .header-right .phone_app {
  position: relative;
}
#header .header-wrap .header-right .phone_app span {
  display: block;
  width: 12px;
  height: 14px;
  background: url("../img/common_sprite.png") no-repeat right -112px;
  margin-right: 2px;
}
#header .header-wrap .header-right .phone_app:hover {
  background-color: white;
}
#header .header-wrap .header-right .phone_app:hover dl {
  display: block;
  margin-right: -1px;
}
#header .header-wrap .header-right .phone_app dl {
  position: absolute;
  display: none;
  right: 0;
  top: 36px;
  right: 0;
  height: 101px;
  width: 205px;
  z-index: 99;
  background-color: white;
  border: 1px solid #e6dfdf;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 10px;
}
#header .header-wrap .header-right .phone_app dl dt {
  margin-top: 8px;
  float: left;
  width: 85px;
  height: 85px;
}
#header .header-wrap .header-right .phone_app dl dt img {
  width: 100%;
  height: 100%;
}
#header .header-wrap .header-right .phone_app dl dd {
  margin-top: 8px;
  margin-top: 8px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 10px;
  float: left;
}
#header .header-wrap .header-right .phone_app dl dd .app {
  line-height: 30px;
}
#header .header-wrap .header-right .phone_app dl dd .active {
  color: red;
}

#search {
  width: 1190px;
  height: 121px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
#search .logo {
  width: 180px;
  height: 121px;
  margin-right: 105px;
  display: flex;
  align-items: center;
}
#search .mod_search {
  display: flex;
  flex-direction: column;
  margin-left: -50px;
}
#search .mod_search input {
  width: 435px;
  outline: 0;
  float: left;
  height: 44px;
  line-height: 44px;
  padding: 0 5px 0 9px;
  border: 1px solid #c7a774;
  color: #666;
  font-size: 15px;
  vertical-align: middle;
  background-color: #fff;
  margin-bottom: 10px;
}
#search .mod_search .searchBtn {
  height: 46px;
  width: 82px;
  border: 1px solid #c7a774;
  cursor: pointer;
  background-color: #fff;
  margin-left: -1px;
}
#search .mod_search .searchBtn img {
  width: 20px;
  height: 20px;
  margin: 0 auto;
}
#search .mod_search .hotkeys a {
  font-size: 12px;
  margin-top: 10px;
}
#search .erDcode {
  width: 100px;
  height: 95px;
  margin-right: -52px;
  margin-top: 20px;
}
#search .erDcode img {
  width: 100%;
  height: 100%;
}
#search .mod_cart {
  width: 140px;
  font-size: 12px;
  border: 1px solid #eee;
  text-align: center;
  line-height: 36px;
  margin-right: 10px;
  display: flex;
}
#search .mod_cart .cart {
  background-color: red;
  width: 36px;
  height: 38px;
  margin-left: 16px;
  background: url("../img/common_sprite.png") -4px -312px;
}
#search .mod_cart .r-arrow {
  background-color: red;
  width: 36px;
  height: 38px;
  margin-right: 16px;
  background: url("../img/common_sprite.png") right -312px;
}
#search .mod_cart a {
  display: block;
  height: 36px;
}

#headerNav-wrap {
  width: 100%;
  border-bottom: 2px solid orange;
}
#headerNav-wrap #headerNav {
  width: 1190px;
  height: 48px;
  display: flex;
  justify-content: start;
  margin: 0 auto;
}
#headerNav-wrap #headerNav .allsort {
  position: relative;
  width: 166px;
  height: 48px;
  padding-left: 14px;
  background-color: #0B333A;
}
#headerNav-wrap #headerNav .allsort .all {
  display: block;
  line-height: 48px;
  color: white;
}
#headerNav-wrap #headerNav .allsort ul {
  position: absolute;
  left: 0;
  height: 404px;
  margin-top: -2px;
  z-index: 99;
  background-color: #2A4449;
}
#headerNav-wrap #headerNav .allsort ul li .title {
  width: 166px;
  padding-left: 14px;
  display: block;
  height: 46px;
  line-height: 46px;
  color: white;
  font-size: 14px;
}
#headerNav-wrap #headerNav .allsort ul li .title i {
  font-size: 24px;
  padding: 0 10px;
}
#headerNav-wrap #headerNav .allsort ul li .sortList {
  width: 1009px;
  display: none;
  background-color: white;
  position: absolute;
  height: 402px;
  top: 3px;
  left: 180px;
  z-index: 999;
}
#headerNav-wrap #headerNav .allsort ul li .sortList .mode-bg {
  display: flex;
  flex-direction: column;
  float: left;
}
#headerNav-wrap #headerNav .allsort ul li .sortList dl {
  margin-top: 10px;
}
#headerNav-wrap #headerNav .allsort ul li .sortList dl dt {
  font-weight: bold;
  padding-left: 20px;
  font-size: 14px;
  margin-bottom: 5px;
}
#headerNav-wrap #headerNav .allsort ul li .sortList dl dd {
  width: 252px;
}
#headerNav-wrap #headerNav .allsort ul li .sortList dl dd a {
  float: left;
  display: inline-block;
  padding: 0 20px;
  margin: 5px 0;
  height: 12px;
  padding-left: 20px;
  font-size: 12px;
}
#headerNav-wrap #headerNav .allsort ul li .sortList dl dd a:hover {
  color: red;
}
#headerNav-wrap #headerNav .allsort ul li .sortList .mode-bgads {
  float: left;
  width: 252px;
  background-color: black;
}
#headerNav-wrap #headerNav .sitenav {
  height: 46px;
  display: flex;
  justify-content: start;
  align-items: center;
}
#headerNav-wrap #headerNav .sitenav a {
  padding: 0 16px 0 16px;
}

#main-body {
  width: 1190px;
  margin: 0 auto;
  display: flex;
}
#main-body .main-left {
  width: 750px;
  height: 400px;
  margin-left: 180px;
  background-color: pink;
}
#main-body .main-left .img-box {
  width: 750px;
  height: 400px;
  position: relative;
  overflow: hidden;
}
#main-body .main-left .img-box .lunbo {
  position: absolute;
  cursor: pointer;
}
#main-body .main-left .img-box .lunbo li {
  float: left;
  width: 750px;
  height: 400px;
}
#main-body .main-left .img-box .lunbo li img {
  width: 100%;
  height: 100%;
}
#main-body .main-left .img-box .btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  display: flex;
  transform: translate(-50%);
}
#main-body .main-left .img-box .btn .bgacitve {
  background-color: red;
}
#main-body .main-left .img-box .btn .bgacitve {
  background-color: red;
}
#main-body .main-left .img-box .btn li {
  width: 15px;
  height: 15px;
  background-color: #4b4545;
  border-radius: 50%;
  margin: 0 5px;
}
#main-body .main-right {
  width: 260px;
  height: 400px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}
#main-body .main-right .doc-pop .consult .consult-tab {
  display: flex;
  margin-top: 10px;
}
#main-body .main-right .doc-pop .consult .consult-tab :first {
  border-bottom: 1px solid red;
}
#main-body .main-right .doc-pop .consult .consult-tab span {
  cursor: pointer;
  display: block;
  width: 48px;
  height: 28px;
  font-size: 12px;
  padding-left: 5px;
  border-bottom-width: 1px;
}
#main-body .main-right .doc-pop .consult .consult-detail div {
  display: flex;
  padding-left: 5px;
  flex-wrap: wrap;
}
#main-body .main-right .doc-pop .consult .consult-detail div a {
  font-size: 13px;
  width: 72px;
  height: 25px;
}
#main-body .main-right .free-server {
  width: 233px;
  height: 50px;
}
#main-body .main-right .free-server img {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
#main-body .main-right .company {
  padding-top: 10px;
}
#main-body .main-right .company p {
  padding: 5px 0;
  font-size: 14px;
  font-weight: bolder;
}
#main-body .main-right .company a {
  display: block;
  width: 44px;
  height: 44px;
  float: left;
  margin-right: 5px;
}
#main-body .main-right .company a img {
  width: 100%;
  height: 100%;
}
#main-body .main-right .notice .notice-tabs {
  padding-bottom: 10px;
}
#main-body .main-right .notice .notice-tabs span {
  font-size: 12px;
}
#main-body .main-right .notice .notice-contents div ul li {
  line-height: 24px;
  display: flex;
}
#main-body .main-right .notice .notice-contents div ul li a {
  font-size: 13px;
  width: 100%;
}

#right-bar {
  position: fixed;
  right: 28px;
  bottom: 10px;
  z-index: 100;
  width: 52px;
  height: 310px;
  z-index: 10;
}
#right-bar a {
  display: block;
  width: 52px;
  height: 52px;
}
#right-bar .consult {
  background: url("../img/common_sprite.png") no-repeat 0 -626px;
}
#right-bar .list {
  background: url("../img/common_sprite.png") no-repeat 0 -678px;
}
#right-bar .shoppingCart {
  background: url("../img/common_sprite.png") no-repeat -52px -725px;
}
#right-bar .feedback {
  background: url("../img/common_sprite.png") no-repeat 0 -780px;
}
#right-bar .backTop {
  background: url("../img/common_sprite.png") no-repeat 0 -836px;
}
#right-bar .docpic {
  width: 52px;
  height: 55px;
}
#right-bar .docpic img {
  width: 100%;
  height: 100%;
}

#limit-shopping {
  width: 1190px;
  height: 150px;
  margin: 10px auto;
  display: flex;
}
#limit-shopping .clock-wrap {
  width: 180px;
  height: 150px;
  background: url("../img/clock01.png") no-repeat;
}
#limit-shopping .medList {
  display: flex;
  width: 1010px;
  justify-content: space-between;
}
#limit-shopping .medList a {
  display: block;
}

#drug-List {
  width: 1190px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
#drug-List .drug1 {
  margin: 5px 0 15px 0;
  width: 100%;
  height: 485px;
  display: flex;
  border-top: 2px solid #ecc782;
  border-left: 1px solid #dddbdb;
  border-right: 1px solid #dddbdb;
}
#drug-List .drug1 .drug1-list .listHeader {
  background-color: #7EC6FF;
  width: 180px;
  height: 85px;
  font-size: 20px;
  text-align: center;
  line-height: 85px;
}
#drug-List .drug1 .drug1-list ul {
  width: 180px;
  display: flex;
  flex-wrap: wrap;
}
#drug-List .drug1 .drug1-list ul li {
  width: 89px;
  height: 49px;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #dddbdb;
  border-right: 1px solid #dddbdb;
}
#drug-List .drug1 .drug1-list ul li a:hover {
  color: red;
}
#drug-List .drug1 .drug1-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#drug-List .drug1 .drug1-detail .detail-L {
  width: 605px;
  height: 284px;
}
#drug-List .drug1 .drug1-detail .detail-L img {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
#drug-List .drug1 .drug1-detail .detail-R {
  cursor: pointer;
  width: 404px;
  height: 284px;
  display: flex;
}
#drug-List .drug1 .drug1-detail .detail-R img {
  width: 50%;
  height: 100%;
}
#drug-List .drug1 .drug1-detail .detail-B {
  display: flex;
  justify-content: space-between;
}
#drug-List .drug1 .drug1-detail .detail-B dl {
  width: 161px;
  height: 170px;
  padding: 20px 20px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #dddbdb;
  border-right: 1px solid #dddbdb;
}
#drug-List .drug1 .drug1-detail .detail-B dl dt {
  display: flex;
  justify-content: center;
  align-items: center;
}
#drug-List .drug1 .drug1-detail .detail-B dl dd p {
  margin: 15px 0 15px;
}
#drug-List .drug1 .drug1-detail .detail-B .clearR {
  border-right: none;
}

#ask-sick {
  width: 1190px;
  display: flex;
  margin: 20px auto;
}
#ask-sick .ask-left {
  width: 930px;
}
#ask-sick .ask-left .sick-top, #ask-sick .ask-left .sick-bottom {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
#ask-sick .ask-left .sick-top .tab-header, #ask-sick .ask-left .sick-bottom .tab-header {
  width: 184px;
  height: 60px;
  background-color: #92C4FF;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  color: white;
}
#ask-sick .ask-left .sick-top .sicks, #ask-sick .ask-left .sick-bottom .sicks, #ask-sick .ask-left .sick-bottom .partments {
  flex: 1;
  justify-content: space-around;
  background-color: #F3F3F3;
  display: flex;
}
#ask-sick .ask-left .sick-top .sicks li, #ask-sick .ask-left .sick-bottom .sicks li, #ask-sick .ask-left .sick-bottom .partments li {
  font-size: 14px;
  width: 93px;
  height: 58px;
  line-height: 58px;
  text-align: center;
}
#ask-sick .ask-left .sick-top .sicks li:hover, #ask-sick .ask-left .sick-bottom .sicks li:hover, #ask-sick .ask-left .sick-bottom .partments li:hover {
  background-color: wheat;
}
#ask-sick .ask-left .sick-top .header-list ul, #ask-sick .ask-left .sick-bottom .header-list ul, #ask-sick .ask-left .sick-bottom .bottom-list ul {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-between;
}
#ask-sick .ask-left .sick-top .header-list ul li, #ask-sick .ask-left .sick-bottom .header-list ul li, #ask-sick .ask-left .sick-bottom .bottom-list ul li {
  width: 435px;
  padding: 20px 20px 20px 10px;
  line-height: 38px;
  height: 38px;
  display: flex;
  border-bottom: 1px solid #d3cdcd;
  justify-content: space-between;
}
#ask-sick .ask-left .sick-top .header-list ul li a, #ask-sick .ask-left .sick-bottom .header-list ul li a, #ask-sick .ask-left .sick-bottom .bottom-list ul li a {
  font-weight: bolder;
  font-size: 16px;
}
#ask-sick .ask-left .sick-bottom {
  margin-top: 30px;
}
#ask-sick .ask-left .sick-bottom .tab-header {
  background-color: #CBC3F2;
}
#ask-sick .hot .hot-sick, #ask-sick .hot .hot-msg {
  margin-left: 15px;
}
#ask-sick .hot h3 {
  padding-left: 10px;
  width: 120px;
  display: flex;
}
#ask-sick .hot h3 p {
  padding: 10px 5px;
  border-bottom: 1px solid red;
  font-size: 16px;
}
#ask-sick .hot h3 img {
  width: 35px;
  height: 16px;
  align-self: center;
}
#ask-sick .hot .disease-names {
  width: 225px;
  height: 420px;
  display: flex;
  margin-top: 15px;
  background-color: #F3F3F3;
  padding: 10px 5px 10px 10px;
  flex-wrap: wrap;
}
#ask-sick .hot .disease-names a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 65px;
  font-size: 12px;
  margin-right: 5px;
}
#ask-sick .hot .disease-names a:hover {
  color: red;
}
#ask-sick .hot .hot-msg {
  margin-top: 20px;
}
#ask-sick .hot .hot-msg h3 {
  width: 150px;
}
#ask-sick .hot .hot-msg a {
  height: 36px;
  width: 220px;
  display: block;
  line-height: 36px;
}

#friendLink-wrap {
  border: 1px solid #afabab;
  width: 1190px;
  margin: 0 auto;
}
#friendLink-wrap .links-show {
  margin-top: 15px;
  width: 1190px;
  width: 100%;
}
#friendLink-wrap .links-show img {
  width: 100%;
}
#friendLink-wrap .links-tab {
  background-color: #cac2c2;
  border-bottom: 1px solid #E6E6E6;
  height: 34px;
  line-height: 34px;
}
#friendLink-wrap .links-tab span {
  display: block;
  width: 180px;
  height: 33px;
  float: left;
  text-align: center;
}
#friendLink-wrap .links-tab span:hover {
  background-color: white;
}

#ft-commit {
  padding-top: 62px;
  width: 1190px;
  margin: 0 auto;
}
#ft-commit .app-list {
  margin-left: 100px;
  margin-top: 60px;
  display: flex;
  margin-bottom: 65px;
}
#ft-commit .app-list dl {
  display: flex;
  width: 255px;
}
#ft-commit .app-list dl p {
  font-size: 12px;
}
#ft-commit .app-list dt {
  width: 94px;
  height: 94px;
}
#ft-commit .app-list dt img {
  width: 100%;
  height: 100%;
}
#ft-commit .app-list dd {
  height: 94px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-left: 12px;
}
#ft-commit .app-list dd h4 {
  margin-bottom: 15px;
}
#ft-commit .app-list .concat {
  width: 250px;
  height: 58px;
  padding: 15px 0;
  border-left: 1px solid #ada4a4;
}
#ft-commit .app-list .concat p {
  text-align: center;
}
#ft-commit .app-list .concat .tel {
  font-size: 20px;
  color: #c7a774;
  font-weight: 700;
}
#ft-commit .app-list .concat .time {
  padding: 10px 0;
}

#page-footer {
  width: 1190px;
  margin: 0 auto;
  padding-top: 65px;
  background-color: #cfc8c8;
}
#page-footer .bottom_unit {
  position: relative;
  padding-left: 215px;
  padding-top: 15px;
}
#page-footer .bottom_unit .help_part {
  display: flex;
  height: 100%;
  border-bottom: 1px solid #cfc8c8;
  padding-bottom: 25px;
}
#page-footer .bottom_unit .help_part dl {
  display: flex;
  flex-direction: column;
  width: 155px;
}
#page-footer .bottom_unit .help_part dl dt {
  font-weight: bold;
  color: #1c1c1c;
  font-size: 15px;
  padding-bottom: 10px;
}
#page-footer .bottom_unit .help_part dl dd {
  line-height: 24px;
  font-size: 12px;
}
#page-footer .bottom_unit img {
  position: absolute;
  left: 0;
  top: 30px;
}
#page-footer .bottom_links {
  display: flex;
  padding-top: 25px;
}
#page-footer .bottom_links .copy_right .yyw_member {
  display: flex;
  height: 56px;
  margin-bottom: 30px;
  margin-left: 100px;
}
#page-footer .bottom_links .copy_right .yyw_member span {
  line-height: 56px;
  font-size: 12px;
}
#page-footer .bottom_links .copy_right .yyw_member ul {
  display: flex;
}
#page-footer .bottom_links .copy_right .yyw_member ul li {
  line-height: 56px;
  justify-content: center;
  display: flex;
  width: 270px;
}
#page-footer .bottom_links .copy_right .yyw_member ul li span {
  font-weight: bold;
  padding-left: 5px;
}
#page-footer .bottom_links .copy_right .yyw_member ul img {
  width: 56px;
  height: 56px;
}
#page-footer .bottom_links .copy_right .bottom_link {
  margin-left: 80px;
  color: #666;
}
#page-footer .bottom_links .copy_right .bottom_link .jituan_logo {
  width: 105px;
  height: 100px;
}
#page-footer .bottom_links .copy_right .bottom_link .jituan_logo img {
  margin-top: 10px;
  width: 100%;
  height: 100%;
}
#page-footer .bottom_links .copy_right .bottom_link a {
  margin: 0 20px;
  color: #666;
  font-size: 12px;
  line-height: 24px;
}
#page-footer .bottom_links .copy_right .copy_info {
  padding-top: 15px;
  margin-left: 100px;
}
#page-footer .bottom_links .copy_right .copy_info p {
  font-size: 12px;
  line-height: 20px;
  color: #918a8a;
}
#page-footer .bottom_links .sf .outImg-wrap {
  margin-left: 90px;
  margin-top: 5px;
  width: 975px;
  padding: 10px 0 0 10px;
}
#page-footer .bottom_links .sf .outImg-wrap img {
  width: 100%;
  height: 100%;
  opacity: .5;
}

#elevator {
  position: fixed;
  top: 150px;
  left: 50%;
  margin-left: -650px;
}
#elevator a {
  display: inline-block;
  text-align: center;
  height: 40px;
  font-size: 14px;
}
#elevator .shopping {
  padding: 5px 0;
  color: #6c6ceb;
  border: 1px solid #d4cece;
  border-bottom: none;
  width: 48px;
  line-height: 20px;
}
#elevator ul {
  display: flex;
  flex-direction: column;
}
#elevator ul li {
  display: flex;
  width: 48px;
  overflow: hidden;
  border: 1px solid #c0baba;
  border-bottom: none;
}
#elevator ul li a {
  display: inline-block;
  width: 48px;
  line-height: 40px;
}
#elevator ul li .entitle {
  background-color: #3030b1;
  display: none;
}
#elevator ul .last-el {
  border: 1px solid #d4cece;
}

@font-face {
  font-family: iconfont;
  src: url(http://s.maiyaole.com/css/201306/iconfont.eot);
  src: url(http://s.maiyaole.com/css/201306/iconfont.eot?#iefix) format("embedded-opentype"), url(http://s.maiyaole.com/css/201306/iconfont.woff) format("woff"), url(//s.maiyaole.com/css/201306/iconfont.ttf) format("truetype"), url(//s.maiyaole.com/css/201306/iconfont.svg#iconfont) format("svg");
}
.iconfont {
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: none;
  -moz-osx-font-smoothing: grayscale;
}

/*# sourceMappingURL=index.css.map */
