@charset "UTF-8";
#header {
  width: 100%;
  height: 36px;
  background-color: #F1F1F1;
  font-size: 12px;
}
#header .header-wrap {
  width: 1190px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  /*------ 左侧menu begin-------*/
  /*------ 左侧menu begin-------*/
  /*-------- 右侧的menu  begin------------*/
}
#header .header-wrap .header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /*------顶部左侧 li ------*/
}
#header .header-wrap .header-left span {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 5px;
}
#header .header-wrap .header-left .header_collect {
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  border-right: 1px solid #9e9a9a;
}
#header .header-wrap .header-left .header_target {
  position: relative;
  line-height: 36px;
  height: 36px;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 10px;
}
#header .header-wrap .header-left .header_target:hover {
  background-color: white;
  overflow: visible;
}
#header .header-wrap .header-left .header_target:hover ul {
  display: block;
  margin-top: -1px;
  z-index: 99;
}
#header .header-wrap .header-left .header_target:hover .city {
  height: 40px;
  z-index: 555;
}
#header .header-wrap .header-left .header_target .city {
  height: 36px;
}
#header .header-wrap .header-left .header_target ul {
  position: absolute;
  width: 200px;
  top: 36px;
  background-color: white;
  display: none;
  border: 1px solid #e6dfdf;
}
#header .header-wrap .header-left .header_target ul li {
  line-height: 28px;
  padding-left: 10px;
}
#header .header-wrap .header-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  /*-------- 右侧的menu  end------------*/
}
#header .header-wrap .header-right em {
  color: #9e9a9a;
}
#header .header-wrap .header-right li {
  display: flex;
  align-items: center;
  height: 36px;
  line-height: 36px;
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
}
#header .header-wrap .header-right li a {
  display: block;
  line-height: 36px;
  height: 36px;
  font-size: 12px;
}
#header .header-wrap .header-right li .active {
  color: red;
  padding-top: 0;
  padding-right: 5px;
  padding-bottom: 0;
  padding-left: 5px;
}
#header .header-wrap .header-right li a:not(.active):hover {
  color: #3c3cc9;
}
#header .header-wrap .header-right .phone_app {
  position: relative;
}
#header .header-wrap .header-right .phone_app:hover {
  background-color: white;
}
#header .header-wrap .header-right .phone_app:hover dl {
  display: block;
  margin-right: -1px;
}
#header .header-wrap .header-right .phone_app dl {
  position: absolute;
  display: none;
  right: 0;
  top: 36px;
  right: 0;
  height: 101px;
  width: 205px;
  z-index: 99;
  background-color: white;
  border: 1px solid #e6dfdf;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 10px;
}
#header .header-wrap .header-right .phone_app dl dt {
  margin-top: 8px;
  float: left;
  width: 85px;
  height: 85px;
}
#header .header-wrap .header-right .phone_app dl dt img {
  width: 100%;
  height: 100%;
}
#header .header-wrap .header-right .phone_app dl dd {
  margin-top: 8px;
  margin-top: 8px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 10px;
  float: left;
}
#header .header-wrap .header-right .phone_app dl dd .app {
  line-height: 30px;
}
#header .header-wrap .header-right .phone_app dl dd .active {
  color: red;
}

#search {
  width: 1190px;
  height: 121px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
#search .logo {
  width: 180px;
  height: 121px;
  margin-right: 105px;
  display: flex;
  align-items: center;
}
#search .mod_search {
  display: flex;
  flex-direction: column;
  margin-left: -50px;
}
#search .mod_search input {
  width: 435px;
  outline: 0;
  float: left;
  height: 44px;
  line-height: 44px;
  padding: 0 5px 0 9px;
  border: 1px solid #c7a774;
  color: #666;
  font-size: 15px;
  vertical-align: middle;
  background-color: #fff;
  margin-bottom: 10px;
}
#search .mod_search .searchBtn {
  height: 46px;
  width: 82;
  border: 1px solid #c7a774;
  cursor: pointer;
  background-color: #fff;
  margin-left: -1px;
}
#search .mod_search .hotkeys a {
  font-size: 12px;
  margin-top: 10px;
}
#search .erDcode {
  width: 100px;
  height: 95px;
  margin-left: 60px;
  margin-top: 20px;
}
#search .erDcode img {
  width: 100%;
  height: 100%;
}
#search .mod_cart {
  width: 140px;
  font-size: 12px;
  border: 1px solid #eee;
  text-align: center;
  line-height: 36px;
  margin-right: 10px;
}
#search .mod_cart a {
  display: block;
  height: 36px;
}

#headerNav-wrap {
  width: 100%;
  border-bottom: 2px solid orange;
}
#headerNav-wrap #headerNav {
  width: 1190px;
  height: 48px;
  display: flex;
  justify-content: start;
  margin: 0 auto;
}
#headerNav-wrap #headerNav .allsort {
  position: relative;
  width: 166px;
  height: 48px;
  padding-left: 14px;
  background-color: #0B333A;
}
#headerNav-wrap #headerNav .allsort .all {
  display: block;
  line-height: 48px;
  color: white;
}
#headerNav-wrap #headerNav .allsort ul {
  position: absolute;
  left: 0;
  height: 402px;
  background-color: #2A4449;
}
#headerNav-wrap #headerNav .allsort ul li a {
  width: 166px;
  padding-left: 14px;
  display: block;
  height: 40px;
  line-height: 40px;
  color: white;
  font-size: 14px;
}
#headerNav-wrap #headerNav .sitenav {
  height: 46px;
  display: flex;
  justify-content: start;
  align-items: center;
}
#headerNav-wrap #headerNav .sitenav a {
  padding: 0 16px 0 16px;
}

#main-body {
  width: 1190px;
  margin: 0 auto;
  display: flex;
}
#main-body .main-left {
  width: 750px;
  height: 400px;
  margin-left: 180px;
  background-color: pink;
}
#main-body .main-left .img-box {
  width: 750px;
  height: 400px;
  position: relative;
  overflow: hidden;
}
#main-body .main-left .img-box .lunbo {
  position: absolute;
  cursor: pointer;
}
#main-body .main-left .img-box .lunbo li {
  float: left;
  width: 750px;
  height: 400px;
}
#main-body .main-left .img-box .lunbo li img {
  width: 100%;
  height: 100%;
}
#main-body .main-left .img-box .btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  display: flex;
  transform: translate(-50%);
}
#main-body .main-left .img-box .btn .bgacitve {
  background-color: red;
}
#main-body .main-left .img-box .btn .bgacitve {
  background-color: red;
}
#main-body .main-left .img-box .btn li {
  width: 15px;
  height: 15px;
  background-color: #4b4545;
  border-radius: 50%;
  margin: 0 5px;
}
#main-body .main-right {
  width: 260px;
  height: 400px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}
#main-body .main-right .doc-pop .consult .consult-tab {
  display: flex;
  margin-top: 10px;
}
#main-body .main-right .doc-pop .consult .consult-tab :first {
  border-bottom: 1px solid red;
}
#main-body .main-right .doc-pop .consult .consult-tab span {
  cursor: pointer;
  display: block;
  width: 48px;
  height: 28px;
  font-size: 12px;
  padding-left: 5px;
  border-bottom-width: 1px;
}
#main-body .main-right .doc-pop .consult .consult-detail div {
  display: flex;
  padding-left: 5px;
  flex-wrap: wrap;
}
#main-body .main-right .doc-pop .consult .consult-detail div a {
  font-size: 13px;
  width: 72px;
  height: 25px;
}
#main-body .main-right .free-server {
  width: 233px;
  height: 50px;
}
#main-body .main-right .free-server img {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
#main-body .main-right .company {
  padding-top: 10px;
}
#main-body .main-right .company p {
  padding: 5px 0;
  font-size: 14px;
  font-weight: bolder;
}
#main-body .main-right .company a {
  display: block;
  width: 44px;
  height: 44px;
  float: left;
  margin-right: 5px;
}
#main-body .main-right .company a img {
  width: 100%;
  height: 100%;
}
#main-body .main-right .notice .notice-tabs {
  padding-bottom: 10px;
}
#main-body .main-right .notice .notice-tabs span {
  font-size: 12px;
}
#main-body .main-right .notice .notice-contents div ul li {
  line-height: 24px;
  display: flex;
}
#main-body .main-right .notice .notice-contents div ul li a {
  font-size: 13px;
  width: 100%;
}

#right-bar {
  position: fixed;
  right: 28px;
  bottom: 10px;
  z-index: 100;
  width: 52px;
  height: 256px;
  background-color: blue;
  z-index: 10;
}
#right-bar .docpic {
  width: 52px;
  height: 55px;
}
#right-bar .docpic img {
  width: 100%;
  height: 100%;
}

#limit-shopping {
  width: 1190px;
  height: 150px;
  margin: 10px auto;
  background-color: pink;
  display: flex;
}
#limit-shopping .clock-wrap {
  width: 180px;
  height: 150px;
  background-color: green;
}
#limit-shopping .medList {
  display: flex;
}
#limit-shopping .medList a {
  display: block;
}

#drug-List {
  width: 1190px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
#drug-List .drug1 {
  margin: 5px 0 15px 0;
  width: 100%;
  height: 485px;
  display: flex;
  border-bottom: 1px solid orange;
}
#drug-List .drug1 .drug1-list .listHeader {
  background-color: #7EC6FF;
  width: 180px;
  height: 85px;
  font-size: 20px;
  text-align: center;
  line-height: 85px;
}
#drug-List .drug1 .drug1-list ul {
  width: 180px;
  display: flex;
  flex-wrap: wrap;
}
#drug-List .drug1 .drug1-list ul li {
  width: 89px;
  height: 49px;
  line-height: 50px;
  text-align: center;
}
#drug-List .drug1 .drug1-list ul li a:hover {
  color: red;
}
#drug-List .drug1 .drug1-detail {
  display: flex;
  flex-wrap: wrap;
}
#drug-List .drug1 .drug1-detail .detail-L {
  width: 600px;
  height: 284px;
}
#drug-List .drug1 .drug1-detail .detail-L img {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
#drug-List .drug1 .drug1-detail .detail-R {
  cursor: pointer;
  width: 404px;
  height: 284px;
  display: flex;
}
#drug-List .drug1 .drug1-detail .detail-R img {
  width: 50%;
  height: 100%;
}
#drug-List .drug1 .drug1-detail .detail-B {
  display: flex;
}
#drug-List .drug1 .drug1-detail .detail-B dl {
  width: 160px;
  height: 170px;
  padding: 20px 20px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#drug-List .drug1 .drug1-detail .detail-B dl dt {
  display: flex;
  justify-content: center;
  align-items: center;
}
#drug-List .drug1 .drug1-detail .detail-B dl dd p {
  margin: 15px 0 15px;
}

/*# sourceMappingURL=index.css.map */
